.container{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.row{
    display: flex;
    gap: 5px;

}

.size{
    height: 50px;
    width: 50px;
    border: solid;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}